.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #367de0;
  border-top: 1px solid black;
  padding: 20px;
}

h1 {
  font-size: 30px;
  color: white;
  font-weight: 400;
}
